* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #170329;
  color: whitesmoke;
  font-family: "Playfair Display", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #2a0441;
}
nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: whitesmoke;
}

nav ul li a:hover {
  color: rgb(144, 147, 175);
  font-size: 1rem;
}

footer ul li a:hover{
  color: rgb(147, 155, 231);
  font-size: 1rem;
}
.left {
  font-size: 1.5rem;
}
.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0;
}
.firstsection > div {
  width: 45%;
}

.leftsection {
  font-size: 3rem;
  color: rgb(255, 255, 255);
}
.rightsection img {
  height: 300px;
  margin: 91px;
  margin-left: 96px;
}

.text-purple {
  color: rgb(238, 129, 13);
}
#element {
  color: rgb(238, 129, 13);
}
.ndsection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
main hr {
  margin: 80px 84px;
  height: 1%;
}
.ndsection h1 {
  font-size: 2rem;
}

.text-grey {
  color: rgb(5, 166, 246);
  font-size: 15px;
}
.ndsection .box {
  background: rgb(145, 124, 206);
  width: 77vw;
  height: 2px;
  margin: 50px 0;
  display: flex;
}

.ndsection .vertical {
  background-color: rgb(169, 160, 195);
  height: 93px;
  width: 1px;
  margin: 0 7vw;
}
.image-top {
  width: 35px;
  position: relative;
  top: -44px;
  left: -19px;
}

.vertical-title {
  position: relative;
  top: 75px;
  width: 150px;
  font-size: 14px;
}

.vertical-desc {
  position: relative;
  top: 110px;
  color: rgb(193, 247, 246);
  width: 150px;
  font-size: 10px;
}
footer {
  background-color: #391b49;
  height: 100px;
}
.footer {
  display: flex;
  padding: 23px 231px;
  justify-content: space-evenly;
}

footer > div {
  width: 83vw;
}
.leftsection .buttons {
  padding: 50px 0;
}
.footer ul {
  list-style: none;
  align-items: left;
}

.footer div {
  width: 500px;
}
.leftsection .btn {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-family: "Playfair Display", sans-serif;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.btn .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.btn:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.btn:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.btn:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

.footer li a{
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
}

@media screen and (max-width: 500px) {
  .firstsection {
    flex-direction: column-reverse;
    margin: unset;
  }
  .box {
    flex-direction: column;
  }
  .ndsection .vertical {
    height: unset;
  }
  .vertical-desc,
  .vertical-title {
    left: 45px;
  }
  .ndsection .box {
    width: 50wv;
  }
  nav {
    flex-direction: column;
  }
  .leftsection {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .rightsection {
    width: 721px !important;
  }
  .ndsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rightsection {
    display: flex;
    justify-content: center;
  }
  .rightsection img {
    width: 60vw;
    margin-top: 75px;
    margin-bottom: 73px;
  }

  .image-top {
    width: 35px;
    position: relative;
    top: 8px;
    left: -39px;
  }
  .vertical-title {
    position: relative;
    top: -29px;
    left: 13px;
    font-size: 14px;
    width: 150px;
  }

  .vertical-desc {
    position: relative;
    top: -23px;
    color: rgb(193, 247, 246);
    width: 400px;
    font-size: 10px;
    left: 13px;
  }
  footer {
    background-color: #391b49;
    height: 0;
  }

  .leftsection .btn {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }

  .btn .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  }

  .btn:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }

  .btn:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  .btn:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }
  .first > h2 {
    display: none;
  }
}

